---
interface Props {
  position?: 'top-left' | 'top-right' | 'bottom-left' | 'bottom-right' | 'center-right' | 'center-left';
  opacity?: number;
  scale?: number;
  variant?: 1 | 2 | 3;
  class?: string;
}
const {
  position = 'top-right',
  opacity = 0.4,
  scale = 1,
  variant = 1,
  class: cls = '',
} = Astro.props;

const posMap: Record<string, string> = {
  'top-left':      'top-0 left-0 -translate-x-1/4 -translate-y-1/4',
  'top-right':     'top-0 right-0 translate-x-1/4 -translate-y-1/4',
  'bottom-left':   'bottom-0 left-0 -translate-x-1/4 translate-y-1/4',
  'bottom-right':  'bottom-0 right-0 translate-x-1/4 translate-y-1/4',
  'center-right':  'top-1/2 right-0 translate-x-1/4 -translate-y-1/2',
  'center-left':   'top-1/2 left-0 -translate-x-1/4 -translate-y-1/2',
};
---

<div
  aria-hidden="true"
  class:list={['absolute pointer-events-none select-none overflow-hidden', posMap[position], cls]}
  style={`opacity:${opacity}; transform: scale(${scale}) ${posMap[position].includes('translate') ? '' : ''};`}
>
  {variant === 1 && (
    <svg width="520" height="480" viewBox="0 0 520 480" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="wc-blur-1" x="-30%" y="-30%" width="160%" height="160%">
          <feGaussianBlur stdDeviation="28"/>
        </filter>
      </defs>
      <path d="M 260 60 C 340 20 440 50 470 140 C 500 230 460 340 380 390 C 300 440 180 430 110 360 C 40 290 40 160 100 90 C 150 35 200 85 260 60 Z"
        fill="#C5D3C0" filter="url(#wc-blur-1)"/>
      <path d="M 200 100 C 270 60 380 90 400 180 C 420 270 370 360 290 390 C 210 420 110 380 80 300 C 50 220 80 110 160 80 C 185 72 190 112 200 100 Z"
        fill="#C5D3C0" opacity="0.6" filter="url(#wc-blur-1)"/>
    </svg>
  )}
  {variant === 2 && (
    <svg width="440" height="400" viewBox="0 0 440 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="wc-blur-2" x="-30%" y="-30%" width="160%" height="160%">
          <feGaussianBlur stdDeviation="24"/>
        </filter>
      </defs>
      <path d="M 180 40 C 260 10 370 60 400 150 C 430 240 390 330 310 370 C 230 410 100 380 60 290 C 20 200 60 80 140 50 C 160 42 170 45 180 40 Z"
        fill="#C5D3C0" filter="url(#wc-blur-2)"/>
    </svg>
  )}
  {variant === 3 && (
    <svg width="360" height="320" viewBox="0 0 360 320" fill="none" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="wc-blur-3" x="-40%" y="-40%" width="180%" height="180%">
          <feGaussianBlur stdDeviation="20"/>
        </filter>
      </defs>
      <ellipse cx="180" cy="160" rx="160" ry="130" fill="#C5D3C0" filter="url(#wc-blur-3)"/>
      <ellipse cx="150" cy="140" rx="100" ry="80" fill="#9CB098" opacity="0.4" filter="url(#wc-blur-3)"/>
    </svg>
  )}
</div>
